@using MvcProject.Entities.Concrete
@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br/>
<h2>İstatistikler Tablosu</h2>
<br/>

<div class="col-md-6">
    <div class="info-box">
        <span class="info-box-icon bg-gradient-cyan"><i class="far fa-envelope"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">1) Toplam Kategori Sayısı</span>
            <span class="info-box-number">@ViewBag.result</span>
        </div>
 
    </div>
  
</div>
<div class="col-md-6">
    <div class="info-box">
        <span class="info-box-icon bg-gradient-green"><i class="far fa-envelope"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">2) Başlık Tablosunda "Yazılım" Kategorisine Ait Başlık Sayısı</span>
            <span class="info-box-number">@ViewBag.result2</span>
        </div>

    </div>

</div>
<div class="col-md-6">
    <div class="info-box">
        <span class="info-box-icon bg-gradient-dark"><i class="far fa-envelope"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">3) Yazar Adında 'a' Harfi Geçen Yazar Sayısı</span>
            <span class="info-box-number">@ViewBag.result3</span>
        </div>
 
    </div>
 
</div>
<div class="col-md-6">
    <div class="info-box">
        <span class="info-box-icon bg-gradient-maroon"><i class="far fa-envelope"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">4) En Fazla Başlığa Sahip Kategori Adı</span>
            <span class="info-box-number">@ViewBag.result4</span>
        </div>
 
    </div>
 
</div>
<div class="col-md-6">
    <div class="info-box">
        <span class="info-box-icon bg-gradient-warning"><i class="far fa-envelope"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">5) Kategori Tablosunda Durumu True Olan Kategoriler İle </span>
            <a>False Olan Kategoriler Arasındaki Sayısal Fark</a>
            <span class="info-box-number">@ViewBag.result5</span>
        </div>
 
    </div>
 
</div>

