@model MvcProject.Entities.Concrete.Category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("AddCategory","AdminCategory",FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(c => c.CategoryName, new {@class="form-control"})
        @Html.ValidationMessageFor(c => c.CategoryName)
        <br /> <br />
        @Html.Label("Açıklama Yazınız")
        @Html.TextAreaFor(c => c.CategoryDescription, new { @class = "form-control" })
        @*@Html.ValidationMessage("CategoryException")*@
        @Html.ValidationMessageFor(c=>c.CategoryDescription)
        <br /> <br />
        <button class="btn btn-info">Kaydet</button>
    </div>
}

