@using MvcProject.Entities.Concrete
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{ string status = "";}
@{ string statusButton = "";}

@*<h2>Hakkımızda Veri Listesi     @Html.Action("AboutPartial", "About")</h2>*@

<div>
    <div class="row gx-5">
        <div class="col" style="margin-top:15px; margin-bottom:5px;">
            <h2>Hakkımızda Veri Listesi </h2>
        </div>
        <div class="col-7" style="margin-top:15px; margin-bottom:5px; margin-right:15px;">
            @Html.Action("AboutPartial", "About")
        </div>
    </div>
</div>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Hakkımda</th>
        <th>Aktif veya Pasif İşlemi</th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.AboutStatus == true)
        {
            status = "Pasif Yap";
        }
        if (item.AboutStatus == false)
        {
            status = "Aktif Yap";
        }
        if (item.AboutStatus==true)
        {
            statusButton = "btn btn-danger";
        }
        if (item.AboutStatus==false)
        {
            statusButton = "btn btn-warning";
        }
        <tr>
            <th>@item.AboutId</th>
            <td>Başlık</td>
            <td><a href="/About/StatusActiveAndPassive/@item.AboutId" class="@statusButton">@status</a></td>
        </tr>
    }
</table>

