@model MvcProject.Entities.Concrete.Heading
@{
    ViewBag.Title = "AddHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Başlık Oluşturma</h2>
<br />
@using (Html.BeginForm("AddHeading", "Heading", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Başlık Adı")
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.HeadingName)
        <br />
        @Html.Label("Kategori Adı")
        @Html.DropDownListFor(x=>x.CategoryId, (List<SelectListItem>)ViewBag.category,
       new { @class="form-control"})
        <br />
        @Html.Label("Yazar Adı")
        @Html.DropDownListFor(x=>x.WriterId,(List<SelectListItem>)ViewBag.writer,
       new { @class="form-control" })
        <br />
        <button class="btn btn-info">Başlık Oluştur</button>
    </div>
}


