@using MvcProject.Entities.Concrete
@model List<Heading>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{ string color = "";}

<!DOCTYPE html>
<html>

<body class="hold-transition sidebar-mini">
    <!-- Content Header (Page header) -->
    <!--<section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Başlıklar</h1>
                    <a href="/Heading/AddHeading/" class="btn btn-default" style="background-color:deepskyblue; margin-block-end:15px;">Yeni Başlık Oluştur</a>
                </div>

            </div>
        </div>-->
    <!-- /.container-fluid -->
    <!--</section>-->
    
    <div>
        <div class="row gx-5">
            <div class="col" style="margin-top:10px; margin-bottom:5px;">
                <h1>Başlıklar</h1>
            </div>
            <div class="col-7" style="margin-top:15px; margin-bottom:5px; margin-right:15px;">
                <a href="/Heading/AddHeading/" class="btn btn-default" style="background-color:deepskyblue; margin-block-end:15px;">Yeni Başlık Oluşturun..</a>
            </div>
        </div>
    </div>
   
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Başlık İşlemleri</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 20%">
                                Başlık Adı
                            </th>
                            <th style="width: 30%">
                                Oluşturan Yazar
                            </th>

                            <th style="width: 8%" class="text-center">
                                Kategori
                            </th>
                            <th style="width: 20%">
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Category.CategoryName == "Kitap")
                            {
                                color = "badge badge-success";
                            }

                            if (item.Category.CategoryName == "Yazılım")
                            {
                                color = "badge badge-danger";
                            }

                            if (item.Category.CategoryName == "Spor")
                            {
                                color = "badge badge-warning";
                            }
                            <tr>
                                <td>
                                    @item.HeadingId
                                </td>
                                <td>
                                    <a>
                                        @item.HeadingName
                                    </a>
                                    <br />
                                    <small>
                                        @item.HeadingDate
                                    </small>
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        <li><a> @item.Writer.WriterName @item.Writer.WriterSurName</a>  </li>
                                    </ul>
                                    <ul class="list-inline">

                                        <li>
                                            <img alt="Avatar" class="table-avatar" src="@item.Writer.WriterImage">
                                        </li>
                                    </ul>
                                </td>

                                <td class="project-state">
                                    <span class=" @color">@item.Category.CategoryName</span>
                                </td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="/Content/ContentByHeading/@item.HeadingId">
                                        <i class="fas fa-folder">
                                        </i>
                                        Başlığın İçerikleri
                                    </a>
                                    <a class="btn btn-info btn-sm" href="/Heading/UpdateHeading/@item.HeadingId">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Düzenle
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="#">
                                        <i class="fas fa-trash">
                                        </i>
                                        Sil
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</body>
</html>



@*<h2>Başlıklar</h2>

    <a href="/Heading/AddHeading/" class="btn btn-default" style="background-color:deepskyblue; margin-block-end:15px;">Yeni Başlık Oluştur</a>

    <br />
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Başlık</th>
            <th>Kategori</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.HeadingId</th>
                <td>@item.HeadingName</td>
                <td>@item.Category.CategoryName</td>
            </tr>
        }
    </table>*@

