@model MvcProject.Entities.Concrete.Admin
@{
    ViewBag.Title = "AdminUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

<h2>Admin bilgileri güncelleme sayfası</h2>

@using (Html.BeginForm("AdminUpdate", "Authorization", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Id")
        @Html.TextBoxFor(x=>x.AdminId, new { @class = "form-control" })
        <br />
        @Html.Label("Mail")
        @Html.TextBoxFor(x=>x.AdminUserName, new { @class = "form-control" })
        <br />
        @Html.Label("Rol")
        @Html.TextBoxFor(x=>x.AdminRole, new { @class = "form-control" })
        <br />
        <button class="btn btn-default" style="background-color:#ff6a00; color:white;">Değişiklikleri Kaydet</button>
    </div>
}